* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: aliceblue;
}

.Navbar {
    color: wheat;
    padding: 10px;
    background: dodgerblue;
}

.Input {
    border: 1px solid hsl(216, 8%, 88%);
    border-radius: 4px;
    width: 576px;
    margin: 20px auto;
    background-color: #ffff;
}

.Input__header {
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0px 0px;
    margin: 0px;
    padding: 15px;
}

.Input__field {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 20px ;
    background-color: white;
    border: none;
}

.Post__image {
    margin-top: 15px;
    width: 100%;

}

.Post {
    padding: 15px;
    border: 1px solid hsl(216, 8%, 88%);
    border-radius: 4px;
    width: 576px;
    margin: 20px auto;
    background-color: #ffff;
}